h1, p{
  color: #1E1E1E;
  
}

h1{
  font-weight: 700;
  font-size: 24px;
  line-height: normal;
}

p{
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
}

.profil-header-banner{
  width: 120px;
  height: 120px;

  position: relative;
}

.container{
  display: flex;
  width: 442px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background-color: #fff;
  flex-shrink: 0;
  border-radius: 24px;
}

.header-banner{
  display: flex;
  align-items: center;
  gap: 32px;;
}

.nama{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.nim-profile p{
  font-size: 14px;
}

.input-nama{
  width: 100%;
}

.input{
  display: flex;
  width: 100%;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  flex-shrink: 0;

  border-radius: 15px;
  border: 1px solid #eddcd2;
}

.cta{
  display: flex;
  width: 394px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 12px;
  background: #e5e5e5;
  border: 1px solid #eddcd2;
}

.cta p{
  font-size: 600;
  font-weight: 200;
}

.cta-button{
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 15px;
  background: #eddcd2;
}

.cta-button p{
  font-size: 600;
  font-weight: 200;
}

.navbar-container {
  border-radius: 30px;
}